


.body-content {
    flex: 1;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 50px;
    padding: 10px 25px;
    border: 1px solid #ccc;
    width: fit-content;
    margin: 5px auto;
    color: black;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    margin: 5px 20px;
}
/*User icon*/
.navbar-nav {
    gap: 15px; /* Khoảng cách giữa các mục */
}

/* Style cho icon người dùng */
.user-icon i {
    vertical-align: middle;
}
@media (min-width: 1024px) {
    .navbar-nav {
        align-items: center;
    }
}
@media (min-width: 991px) {
    .navbar-nav {
        align-items: center;
    }
}
@media screen and (max-width:576px)
{
    body{
        width:100%;
    }
}
.dropdown-item:hover{
    background-color:darkgray
}


