@{
    ViewBag.Title = "Contact";
}
<style>
    .contact-map {
        width: 100%;
        height: 385px;
        margin-bottom: 70px;
    }

    .contact-info .heading,
    .contact-form .heading {
        text-transform: capitalize;
    }

    .contact-form .form-group {
        margin-bottom: 20px;
    }

    #contact-page .form-control::-moz-placeholder {
        color: #8D8D8D;
    }

    #contact-page .form-control {
        background-color: #fff;
        border: 1px solid #ddd;
        color: #696763;
        height: 46px;
        padding: 6px 12px;
        width: 100%;
        font-size: 16px;
        border-radius: 4px;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }

    #contact-page #message {
        height: 160px;
        resize: none;
    }

    #main-contact-form .btn-primary {
        margin-bottom: 15px;
        margin-top: 20px;
    }

    #contact-page .form-control:focus,
    #contact-page .form-control:hover {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        border-color: #FDB45E;
    }

    #contact-page .contact-info {
        padding: 0 20px;
    }

    #contact-page .contact-info address {
        margin-bottom: 40px;
        margin-top: -5px;
    }

    #contact-page .contact-info p {
        margin-bottom: 0;
        color: #696763;
        font-size: 16px;
        line-height: 25px;
    }

    .social-networks {
        overflow: hidden;
        text-align: center;
    }

    .social-networks ul {
        margin-top: -5px;
        padding: 0;
        display: inline-block;
    }

    .social-networks ul li {
        float: left;
        text-decoration: none;
        list-style: none;
        margin-right: 20px;
    }

    .social-networks ul li:last-child {
        margin-right: 0;
    }

    .social-networks ul li a {
        color: #999;
        font-size: 25px;
    }

    .contact-info .social-networks ul li a i {
        background: none;
    }

    .contact-info .social-networks ul li a:hover {
        color: #FE980F;
    }

</style>
<div class="container text-center">
    <main aria-labelledby="title">
        <!-- Row for the map -->
        <div class="row">
            <div class="col-sm-12">
                <h2 style="color: #FE980F">Contact Us</h2>
                <p style="display:flex;justify-content:center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59608.458650331944!2d106.59114714863279!3d10.776014700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb765b5c25%3A0x9a3519bdad5a85a3!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKQ!5e1!3m2!1svi!2s!4v1731255310128!5m2!1svi!2s"
                            width="80%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
            </div>
        </div>
    </main>
</div>
