name: SonarCloud Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Install SonarScanner for MSBuild
      run: dotnet tool install --global dotnet-sonarscanner

    - name: Sonar Begin
      run: |
        dotnet-sonarscanner begin `
          /k:"Kolaid08_DBPMlt" `
          /o:"kolaid08" `
          /d:sonar.host.url="https://sonarcloud.io" `
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

    - name: Restore NuGet
      run: nuget restore

    - name: Build with MSBuild
      shell: pwsh
      run: |
        $sln = Get-ChildItem -Recurse -Filter *.sln | Select-Object -First 1
        Write-Host "Using solution: $($sln.FullName)"
        msbuild "$($sln.FullName)" /p:Configuration=Release

    - name: Sonar End
      run: |
        dotnet-sonarscanner end `
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
